.togglePasswordVisibility {
  font-size: 20px;
  font-weight: 800;
  color: white;
  background-color: darkgray;
  border: none;
  padding: 12px 20px;
  min-width: 96px;
}

.passwordInputContainer {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.togglePasswordVisibility:focus {
  outline: 4px solid orange;
}

.togglePasswordVisibility:hover {
  background-color: gray;
}